$textColor: rgb(227, 227, 227);
$textColor-opacity-1: rgb(195, 195, 195);
$textColor-opacity-2: #909090;

$text-grean-1: #2dc16e;

$bg-dark-1: #1e1f22;
$bg-dark-2: #313338;
$bg-dark-3: #2b2d31;
$bg-dark-4: #35363c;
$bg-dark-5: #141415;
$bg-dark-6: #232428;

$bg-dark-op-1: #000000c7;

$bg-blue-1: #5865f2;
$bg-blue-2: #00a8fc;
