$textColor: rgb(227, 227, 227);
$textColor-opacity-1: rgb(195, 195, 195);

$bg-dark-1: #1e1f22;
$bg-dark-2: #313338;
$bg-dark-3: #2b2d31;
$bg-dark-4: #35363c;
$bg-dark-5: #141415;

$bg-blue-1: #5865f2;
$bg-blue-2: #00a8fc;
