$textColor: rgb(227, 227, 227);
$textColor-opacity-1: rgb(164, 164, 164);
$textColor-opacity-2: #909090;

$text-grean-1: #2dc16e;
$text-grean-2: #11f546;

$bg-dark-1: #1e1f22;
$bg-dark-2: #313338;
$bg-dark-3: #2b2d31;
$bg-dark-4: #35363c;
$bg-dark-5: #141415;
$bg-dark-6: #232428;
$bg-dark-7: #404249;
$bg-dark-8: #35373c;
$bg-dark-9: #383a40;
$bg-dark-10: #3d3e45;
$bg-dark-11: #1a1b1e;
$bg-dark-12: #4e5058;
$bg-dark-13: #6d6f78;

$bg-red-1: #f23f42;

$bg-dark-op-1: #000000c7;

$bg-blue-1: #5865f2;
$bg-blue-2: #00a8fc;
