@import '../../../src/styles/variables.scss';

.search__wrapper {
	width: 100%;
	input {
		width: 100%;
		background-color: $bg-dark-1;
		height: 70px;
		line-height: 70px;
		padding: 0 12px;
		font-size: 22px;
		border-radius: 5px;
		color: $textColor-opacity-2;

		&::placeholder {
			color: $textColor-opacity-2;
		}
	}
}
