@import '../../../../src/styles/variables.scss';

.message {
	.message__image{
		img{
			max-width: 500px;
		}
	}
	position: relative;
	&:not(:nth-child(1)) {
		margin-top: 50px;
	}
	&.owner {
		.reactions__wrapper {
			display: none;
		}
	}
	&.neighbor {
		.message-buttons {
			display: none;
		}
	}
	.message__text {
		position: relative;
		.message__editor {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			.message__editor-acceptButton {
				position: absolute;
				z-index: 1;
				cursor: pointer;
				width: 30px;
				height: 30px;
				border-radius: 4px;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						background-color: $bg-dark-1;
					}
				}
			}
			opacity: 0;
			visibility: hidden;
			&.show {
				opacity: 1;
				visibility: visible;
			}
		}
		textarea {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $bg-dark-3;
			left: 0;
		}
	}
	.message__userPhoto {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: $bg-dark-7;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 100%;
		}
	}

	.message-buttons {
		display: flex;
		align-items: center;
		gap: 4px;
		.message-button {
			cursor: pointer;
			transition: all 0.3s ease 0s;
			background-color: $bg-dark-2;
			@media (any-hover: hover) {
				&:hover {
					background-color: $bg-dark-3;
				}
			}
			width: 30px;
			height: 30px;
			border-radius: 4px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.reactions__wrapper {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.message {
	&:last-child {
		.reactions__wrapper {
			top: 0;
			.reactions__content {
			}
		}
	}
}

.reactions__wrapper {
	z-index: 30;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	background-color: $bg-dark-1;
	border-radius: 20px;
	padding: 1px 3px;
	position: absolute;
	display: flex;
	left: 0;
	top: calc(100% + 4px);
	@media (any-hover: hover) {
		&:hover {
			border-radius: 10px;
			.reactions__content {
				display: flex;
				flex-wrap: wrap;
				max-width: 300px;
			}
		}
	}
	.reactions__content {
		display: none;
	}
	.reactions__spoiler,
	.reactions__item,
	.reaction__edit {
		min-width: 30px;
		height: 30px;
		display: flex;
		color: $textColor;
		justify-content: center;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		align-items: center;
		&.long {
			padding: 0 7px;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.3);
			}
		}
	}
}

.message__reactions {
	display: flex;
	flex-wrap: wrap;
	max-width: 40%;
	gap: 5px;
	.message-reactions__item {
		padding: 1px 10px;
		background-color: $bg-dark-1;
		display: flex;
		border-radius: 20px;
		gap: 6px;
		justify-content: center;
		align-items: center;
		color: $textColor;
		height: 30px;
	}
}
